* text=auto eol=lf

*.bat  text eol=crlf
gradlew text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary
*.jar binary
*.keystore binary
*.jks binary
